#ignore checkpoints
.ipynb_checkpoints
#ignore data file
ebtel_data/
#ignore test figures file
figure_builders/test_figs/
#ignore pickled file
*.pickle
#ignore all text files
*.txt
#ignore all .gif files (by default)
*.gif
#ignore HDF5 files
*.h5
#ignore fits
*.fits
#ignore pics
*.png
#ignore xml
*.xml
#ignore input and outout files
*.input
*.output
